@font-face {
   font-family: 'Cooper Std Black';
   font-display: swap;
   src: url('file:///C:/Users/mikae/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-10_112637/fonts/Cooper%20Std%20Black/font.ttf');
}
